services:
  crossgpt:
    build:
      context: .
    container_name: crossgpt
    restart: always
    image: crossgpt:latest
    ports:
      - 3000:3000
    environment:
      - OPENAI_API_KEY=$OPENAI_API_KEY
      - GOOGLE_API_KEY=$GOOGLE_API_KEY
      - XAI_API_KEY=$XAI_API_KEY
      - DEFAULT_MODEL=$DEFAULT_MODEL
      - GOOGLE_CLIENT_ID=$GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET
      - NEXTAUTH_URL=$NEXTAUTH_URL
      - NEXTAUTH_SECRET=$NEXTAUTH_SECRET
      - AUTH_TRUST_HOST=true
